".source.js":
  "Flight – Describe Mixin":
    "prefix": "describe.mixin"
    "body": """
    describeMixin('${1:mixin/hello-world}', function() {
      'use strict';
      beforeEach(function() {
        setupComponent();
      });
      it('${2:should…}', function() {
        ${3:expect(this.component.doSomething()).toBe(expected);}$0
      });
    });
    """
