".source.js":
  "Flight – Mixin (Standalone)":
    "prefix": "flight.mixin.standalone"
    "body": """
    var ${1:MyMixin} = function with${1:MyMixin}() {
      'use strict';
      this.${2:doSomething} = function() {
        $0
      };
    }
    """
